<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header") %>

</head>

<body>

  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Metin Abi</a>
        </li>
        <li>
          <a href="/commands"><span class="glyphicon glyphicon-info-sign"></span> Komutlar </a>
        </li>
        <!-- Dropdown Menu Bu şekilde yazılıyor -->
        <!-- <li class="dropdown">
          <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span
              class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/">Home</a></li>
          </ul>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href="https://discord.com/api/oauth2/authorize?client_id=693441449127051264&permissions=0&scope=bot"
            target="_blank"><span class="glyphicon glyphicon-book"></span> Metin Abi</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="jumbotron text-center">
    <div class="container">
      <!-- <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a> -->
      <h1>Metin Abi, "Merhaba Yiğenim!" diyor.</h1>
    </div>
  </div>
  <div class="container">
    <div>
      Ufak bir gezintiye çıkıp komutlarımı öğrenmek ister misin? O zaman <a href="/commands">tıkla</a> yiğemim.
    </div>
    <hr>
  </div>
</body>

</html>